@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;

    --color-text-primary: #27252F;
    --color-text-secondary: #080517;
    --color-text-muted: #6F6F6F;
    --color-text-tertiary: #000000;
    --color-text-disabled: #E50004;
    --color-white: #FFFFFF;

    --bg-color-primary: #F7F7F7;
    --bg-color-secondary: #131020;
    --bg-color-accent: #D6EB31;
}

body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-poppins);
    color: var(--color-text-primary);
    background-color: var(--bg-color-primary);
}

a {
    text-decoration: none;
}

.app-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    padding: 1rem;
}
header {
    color: var(--color-white);
    background-color: var(--bg-color-secondary);
    border-radius: 1.25rem;
    padding: 1rem;
}

footer {
    background-color: var(--bg-color-secondary);
    color: var(--color-white);
    text-align: center;
    border-radius: 1.25rem;
    padding: 1rem;
}

.btn {
    background-color: var(--bg-color-accent);
    color: var(--color-text-primary);
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: var(--font-dm-sans);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.btn img {
    margin-left: .6rem;
}

.page-title h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-top: 4rem;
}

/*  header section  */
.header-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    font-family: var(--font-dm-sans);
    margin: 1rem 2rem;

    @media (width >= 768px) {
    }

    @media (width >= 1200px) {
    }

    @media (width >= 1400px) {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: 3rem;


    @media (width >= 768px) {
    }

    @media (width >= 1200px) {
    }

    @media (width >= 1400px) {
    }
}


.header-logo img {
    width: auto;
    height: 3.2rem;
}

.header-actions {
    display: flex;
    gap: 2.4rem;
    justify-content: flex-end;

    @media (width >= 768px) {
    }

    @media (width >= 1200px) {
    }

    @media (width >= 1400px) {
    }
}

.header-link {
    color: var(--color-white);
    margin-top: .8rem;
}

.main-menu {
    display: none;
    justify-content: center;

    @media (width >= 768px) {
    }

    @media (width >= 1200px) {
        display: flex;
        gap: 2.4rem;
    }

    @media (width >= 1400px) {
        
    }
}

/*  menu  */
.menu {
    color: var(--color-white);
    list-style: none;
    margin: 0;
    display: flex;
    gap: 2rem;

    .menu-item {
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 500;


        a {
            color: var(--color-white);
            text-decoration: none;

            &:hover {
                color: var(--bg-color-accent);
                text-decoration: underline;
            }

            &.active {
                color: var(--bg-color-accent);
                text-decoration: underline;
            }
        }
    }
}

/*  hero section  */

.hero-section {
    border-top: 1px solid #68695e;


    .hero-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items:flex-end;


        .hero-content {
            display: flex;
            flex-direction: column;
            max-width: 40rem;
            gap: 1rem;
            width: fit-content;
            justify-items: flex-end;

            .title {
                display: inline-flex;
                align-items: center;
                gap: .5rem;
                background-color: var(--color-text-primary);
                border-radius: 1.8rem;
                width: fit-content;
                padding: .4rem .8rem;
                font-size: .9rem;
                font-weight: 500;


                .dot {
                    color: var(--bg-color-accent);
                }
            }

            .headline {
                font-size: 3.4rem;
                font-weight: 700;
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .8rem;
                list-style: none;
                padding-left: 0;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    img {
                    }
                }
            }

            .horizon-line {
                border-top: 1px solid #68695e;
            }

            .btn {
                width: fit-content;
            }

            .title span, .headline span, .description span {
                display: block;
            }
        }

        .hero-img {
            width: 100%;
            display: block;
            height: auto;
            margin-left: auto;
        }
    }
}





/* My Account - About Me */

.container {


    .my-account-section {
        max-width: 1300px;
        margin: 0 auto;
        padding: 2rem 1rem;
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;

        @media (width >= 768px) {
            grid-template-columns: 1fr 2fr;
        }

        @media (width >= 1300px) {
            margin: 0 auto;
            padding: 2rem 1rem;
            grid-template-columns: 1fr 2fr;
        }

        .my-account-sidebar {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .my-account-nav {
                background-color: var(--color-white);
                border-radius: 2rem;
                padding: 1.5rem;

                .my-menu-title {
                    background-color: var(--bg-color-accent);
                    margin: -1.5rem -1.5rem 1rem -1.5rem;
                    padding: 1rem 1.5rem;
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                    font-size: 1rem;
                    font-family: var(--font-poppins);
                    color: var(--color-text-primary);
                    font-weight: 600;
                }

                .menu-options li form {
                    width: 100%;
                }

                .menu-options {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    list-style: none;


                    .my-menu {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1rem;
                        font-family: var(--font-poppins);
                        color: var(--color-text-primary);
                        font-weight: 600;
                    }

                        .my-menu:hover {
                            color: var(--bg-color-accent);
                            cursor: pointer;
                            font-weight: 600;
                        }

                    .my-button {
                        padding: 0;
                        margin: 0;
                        background: none;
                        border: none;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1rem;
                        font-family: var(--font-poppins);
                        color: var(--color-text-primary);
                        text-align: left;
                        font-weight: 600;
                    }

                        .my-button:hover {
                            color: var(--bg-color-accent);
                            cursor: pointer;
                            font-weight: 600;
                        }
                }
            }
        }

        .my-account-delete {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: .2rem;

            .delete-text {
                font-size: .7rem;
                margin-bottom: .2rem;
            }

            .delete-link {
                font-size: 1rem;
                background: none;
                border: none;
                width: 100%;
                color: var(--color-text-disabled);
                cursor: pointer;
                font-weight: 600;
            }
        }

        .my-account-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .about-me-form-section {
                background-color: var(--color-white);
                border-radius: 1rem;
                padding: 1.5rem 1.5rem 7rem;
                margin: 0 1.5rem;


                .about-me-form {
                    margin: 2rem 1.6rem;

                    .title {
                        font-size: 3.4rem;
                        font-weight: 500;
                    }

                    .form-group {
                        gap: 1rem;
                        margin: 2rem 0;


                        .form-label {
                            font-size: .8rem;
                            font-weight: 500;
                            display: block;
                            margin-bottom: .5rem;
                        }

                        .form-input {
                            border: none;
                            width: 100%;
                            background-color: var(--bg-color-primary);
                            border-radius: .5rem;
                            padding: 1rem;
                        }

                        .field-validation-error {
                            color: var(--color-text-disabled)
                        }
                    }

                    .form-button {
                        background-color: var(--bg-color-accent);
                        color: var(--color-text-primary);
                        border: none;
                        padding: 0.7rem 1.5rem;
                        border-radius: 2rem;
                        cursor: pointer;
                        font-family: var(--font-dm-sans);
                        font-size: 1rem;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        gap: .8rem;
                        margin-left: auto;
                        margin-top: 3rem;

                        img {
                            margin-left: .6rem;
                        }
                    }
                }
            }

            .my-statistics-section {

                h2 {
                    font-size: 3.2rem;
                    font-weight: 500;
                    margin: 3rem 0 1rem 2.5rem;

                }

                .my-statistics {
                    background-color: var(--color-white);
                    border-radius: 1rem;
                    padding: 1.5rem;
                    margin: 0 1.5rem;


                    .statistics-item {
                        margin: 2rem 1.6rem;


                        .statistics-row {
                            display: flex;
                            justify-content: space-between;
                        }

                        .progress-bar {
                            width: 100%;
                            height: .2rem;
                            background-color: var(--bg-color-primary);
                            border-radius: .4rem;
                            overflow: hidden;

                            .progress {
                                height: 100%;
                                background-color: var(--bg-color-accent);
                                border-radius: .4rem;
                            }

                            .progress-90 {
                                width: 90%;
                            }

                            .progress-50 {
                                width: 50%;
                            }

                            .progress-70 {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}







/* layouts */
.app-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    padding: 1rem;
}

.auth-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    padding: 1rem;
}

/* SignIn, SignUp, SetPassword Pages */

.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78vh;
    margin-top: 5rem;
    margin-bottom: 5rem;


    .auth-form {
        background-color: var(--color-white);
        border-radius: 1rem;
        padding: 3rem;
        width: 100%;
        max-width: 46rem;
    }

    .title {
        font-size: 3.5rem;
        font-weight: 500;
    }

    .information {
        font-size: .85rem;
        margin-bottom: 2rem;
    }

    .logo-img {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 4.5rem 0;
    }

    .horizon-text {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1.5rem 0;

        span {
            flex: 1;
            height: 1px;
            background-color: var(--color-text-muted);
        }

        p {
            font-family: var(--font-dm-sans);
            color: var(--color-text-muted);
        }
    }


    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .password-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .forgot-password {
                display: flex;
                justify-content: flex-end;
                font-size: .8rem;
                color: var(--bg-color-accent);
            }
        }
    }

    .form-input {
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        background-color: var(--bg-color-primary);
    }

    .form-group.checkbox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-items: center;
        gap: .5rem;

        .custom-checkbox {
            display: flex;
            align-items: center;
        }
    }

    .form-button {
        background-color: var(--bg-color-accent);
        color: var(--color-text-primary);
        border: none;
        padding: 0.7rem 1.5rem;
        border-radius: 2rem;
        cursor: pointer;
        font-family: var(--font-dm-sans);
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: .8rem;
        justify-content: center;
        width: 100%;
    }

    .additional-information {
        font-size: .8rem;
        text-align: center;
        margin-top: 2rem;

        a {
            text-decoration: underline;
            color: var(--bg-color-accent);
        }
    }
}

