@{
    var title = ViewData["Title"]?.ToString();
    var pageTitle = string.IsNullOrWhiteSpace(title)
        ? "CoreFitness Club | Gym & Fitness"
        : $"{title} | CoreFitness Club";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>  

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <partial name="Partials/_Header" />
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>Footer</footer>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
