<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@string.IsNullOrEmpty(ViewData["Title"] as string) ? "CoreFitness.Presentation" : ViewData["Title"] + " - CoreFitness Club"</title>  

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreFitness.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
</head>

<body>
    <div class="wrapper">
        <header>Header</header>
        <main>
            @RenderBody()
        </main>
        <footer>Footer</footer>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
