@{
    var title = ViewData["Title"]?.ToString();
    var pageTitle = string.IsNullOrWhiteSpace(title)
        ? "CoreFitness Club | Gym & Fitness"
        : $"{title} | CoreFitness Club";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>  

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/css/output.css" /> -->
</head>

<body>
    <div class="app-layout">
        <header>
            <partial name="Partials/_HeaderSection" />

            @if (IsSectionDefined("Hero"))
                @await RenderSectionAsync("Hero")
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <partial name="Partials/_FooterSection" />
        </footer>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
