@using CoreFitness.Presentation.Models
@model RegisterPasswordForm
@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Set Your Password";
}

<section class="auth-section">
    <form class="auth-form" asp-action="SetPassword" asp-controller="Authentication" method="post" novalidate>
        <h1 class="title">Set Yout Password</h1>
        <p class="information">Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</p>
        <hr />

        <div class="form-group">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-input" asp-for="Password" />
            <span class="filed-validation-error" asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <input class="form-input" asp-for="ConfirmPassword" />
            <span class="filed-validation-error" asp-validation-for="ConfirmPassword"></span>
        </div>

        <button class="form-button" type="submit">Continue<img src="~/images/arrow-right.svg" alt="arrow-right" /></button>

        @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
        {
            <p class="additional-information">
                @ViewData["ErrorMessage"]
            </p>
        }
    </form>
</section>
