@using CoreFitness.Presentation.Models
@model SignInForm
@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Sign In";
}

<section class="auth-section">
    <form class="auth-form" asp-action="SignIn" asp-controller="Authentication" method="post" novalidate>
        <h1 class="title">Welcome Back!</h1>
        <p class="information">Log in to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
        <hr />

        <div class="logo-img">
            <img src="~/images/google.svg" alt="google-logo" />
            <img src="~/images/facebook.svg" alt="facebook-logo" />
            <img src="~/images/github.svg" alt="github-logo" />
        </div>

        <div class="horizon-text">
            <span></span>
            <p>OR CONTINUE WITH</p>
            <span></span>
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="Email">Email Address</label>
            <input class="form-input" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <div class="password-header">
                <label class="form-label" asp-for="Password">Password</label>
                <a class="forgot-password" asp-action="ForgotPassword" asp-controller="Authentication">Forgot your password?</a>
            </div>

            <input class="form-input" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group checkbox">
            <label class="custom-checkbox">
                <input type="checkbox" asp-for="RememberMe">
                <span class="checkmark"></span>
            </label>
            <label class="form-label checkbox" asp-for="RememberMe">Remember Me</label>
        </div>
            <button class="form-button" type="submit">Continue<img src="~/images/arrow-right.svg" alt="arrow-right" /></button>

        @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
        {
            <p class="additional-information">
                @ViewData["ErrorMessage"]
            </p>
        }

        <p class="additional-information">
            Not a member? <a asp-action="SignUp" asp-controller="Authentication">Become one</a>
        </p>
        @Html.AntiForgeryToken()
    </form>
</section>