<div class="header-wrapper"">
    <div class="header-container">
        <!--- Logo --->
        <a asp-controller="Home" asp-action="Index" class="header-logo">
            <img src="~/images/logotype.svg" alt="logo" /> 
            
        </a>
        <!--- Navbar --->
        <nav class="navbar">
            <a href="#fitness-centers">Fitness Centers</a>
            <a asp-controller="Memberships" asp-action="Index">Memberships</a>
            <a href="#training">Training</a>
            <a asp-controller="CustomerService" asp-action="Index">Customer Service</a>
            <a href="#store">Store</a>
        </nav>

        <!--- Auth --->
        <div class="header-actions">
            <a asp-controller="Account" asp-action="SignUp" class="header-link">Become Member</a>
            <a asp-controller="Account" asp-action="SignIn" class="btn">Sign In
                <img src="~/images/arrow-right.svg" alt="arrow-right" />
            </a>
        </div>
    </div>
</div>