@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-text-primary: #27252F;
    --color-text-secondary: #080517;
    --color-text-muted: #6F6F6F;
    --color-text-tertiary: #000000;
    --color-text-disabled: #E50004;
  
    --color-white: #FFFFFF;

    --bg-color-primary: rgb(240, 239, 239);
    --bg-color-secondary: rgb(2, 2, 26);
    --bg-color-accent: #D6EB31;

    --font-primary: "Poppins", sans-serif;
    --font-secondary: "DM Sans", sans-serif;
}
a{
    text-decoration: none;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    background-color: var(--bg-color-primary);
}